.DS_Store
sway/theme.conf
kitty/colors.conf
menu/lib/menu.sh
scripts/random_colors.sh
wallpapers/bing.jpg
sway/themes/.random_colors.conf
waybar/random.css
fish/fish_variables
ncspot/userstate.cbor
menu/lib/random-menu.sh
nvim/lazy-lock.json
